
.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(4px + 2vmin);
	color: black;
}

.cardImage{
	object-fit: cover;
	height: auto;
	max-height: 250px;
	width: auto;
	max-width: 300px;
}